@font-face {
  font-family: 'ManifoldCF-Regular';
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-Light';
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-Bold';
  src: url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-ExtraBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-DemiBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'Industry-Inc-Stencil';
  src: url('../webfonts/Industry/IndustryInc-Stencil.eot');
  src: url('../webfonts/Industry/IndustryInc-Stencil?#iefix') format('embedded-opentype'), url('../webfonts/Industry/IndustryInc-Stencil.woff') format('woff'), url('../webfonts/Industry/IndustryInc-Stencil.ttf') format('truetype');
  /*src: url('../webfonts/Industry/Hold Fast Foundry - Industry Inc Stencil.otf');*/
}

header{
     background: url(../images/background-header.png) top center no-repeat;
  background-size: cover;

  position: relative;

    
  
}

header .container.banner{
    padding-top: 20px;
    padding-bottom: 50px;
}

header h2{

    font-family: "ManifoldCF-Regular";
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    font-size: 28px;
    text-align: right;
}

header .topnav{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
header .topnav li{
    float: left;
    padding-left:10px;
    padding-right:10px;
    line-height: 14px;
    
}
header .topnav li:first-child{
    padding-left: 0;
    border-right:solid #fff 1px;
}

header .topnav li:last-child{
    padding-right: 0;
    border-left:solid #fff 1px;

}
header .topnav a{
    color:#fff;
}

header .topWrapper{
    padding-top: 10px;
    padding-right: 15px;
}
header #logo{

  padding-top: 15px;
}

nav{
    background: #C8001E;
    height: 60px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{  
    width: 33.33%;
    float: left;
    line-height: 60px;
    background-color: #310000;
    padding-left: 20px;
    padding-right: 20px;
    
}

nav ul li:first-child{
    background-color: #000;
}

nav ul li:last-child{
    background-color: #5A020F;
}
nav ul li a{
    font-family: "ManifoldCF-Regular";
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}
header .search{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}

header .search .container{
    padding-top: 30px;
    padding-bottom: 30px;
}
header .search label{
    display: block;
    color:#fff;
    font-weight: normal;
}

select.searchSelect,
input[type="text"].searchTextbox{
    display: block;
    width: 100%;
    -webkit-appearance: none; 
-moz-appearance: none; 
appearance: none; 
background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
border:none;
height: 40px;
position: relative;
padding:0 10px;
color:#fff;
margin-bottom: 10px;
}
.searchElement{
    position: relative;
}

.overlay-arrow{
    font-size: 17px;
color: #fff;
position: absolute;
right: 10px;
top: 48px;
cursor: default;
line-height: 1px;


}

section.searchCriteria{
    background: url(../images/background-search-criteria.png);
    min-height: 210px;
    padding-top: 30px;
}

section.searchCriteria ul.searchNav{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

section.searchCriteria h3{
    font-family: "ManifoldCF-Bold";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
}

section.searchCriteria ul.searchNav li{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-right:solid 1px #C8002D;
    height: 28px;
    line-height: 28px;
    text-align: middle;
    font-weight: bold;
}
section.searchCriteria ul.searchNav li:first-child{
    padding-left: 0;
}
section.searchCriteria ul.searchNav li a{
color: #333333;
}

section.searchCriteria ul.searchNav li a.active{
color: #C8002D;
}

section.searchCriteria ul.searchNav li a.disabled{
color:rgba(51, 51, 51, 0.3);
}

section.searchCriteria .searchItems{
    list-style: none;
    margin:0;
    padding: 0;
    color:#333333;
    font-size: 16px;
}
section.searchCriteria .searchItems li{
background-color: #EFEFEF;
float: left;
border-radius: 5px;
padding:5px 10px;
margin-right: 10px;
margin-bottom: 10px;
}

section.searchCriteria .searchItems li:hover{
background-color:#C8001E;
color:#fff;
}

section.searchCriteria .searchItems li span{
color:#C8001E;
padding-right: 5px;
}

section.searchCriteria .searchItems li:hover span{
color:#222222;
}



.searchAction{
    position: relative;
}

input.button{
    border-radius: 5px;
    border:solid 3px #C8001E;
    background: transparent;
    height: 50px;
    padding: 10px;
    width:100%;
    font-family: "ManifoldCF-Bold";
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
}

input.button + span.glyphicon-search{
    color:#C8001E;
    font-size: 30px;
    position: absolute;
    top:10px;
    right:27px;
}

.savedSearchSelect{
    background: rgba(78, 78, 78, 0.9);
    border-radius: 5px;
    position: relative;
    height: 50px;
    margin-top: 20px;
}
.savedSearchSelect select{
    background: transparent;
    height: 100%;
    font-family: "ManifoldCF-Bold";
    font-size: 20px;
    text-transform: uppercase;
}
.savedSearchSelect .overlay-arrow{
    top:23px;
} 

table{
    width: 100%;
}

table thead th{
    background-color: #333; 
    color:#fff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    padding: 0 15px;
    
}

table thead th:first-child{
    background-color: #7B0012;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 250px;
}

table tbody th:nth-child(2){
    box-shadow: inset 25px 0px 9px -19px rgba(0, 0, 0, 0.5);
}

table tbody td{
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    
    
}
table tbody td:first-child{
    background-color: #B1011B;
    color:#fff;
    
}

table tbody td:nth-child(2){
    box-shadow: inset 25px 0px 9px -19px rgba(0, 0, 0, 0.5);
}

table tbody tr td:first-child{
    background-color: #B1011B;
    color:#fff;
    
}



table tbody tr:nth-child(even) td{
    background-color: #EBEBEB;
}

table tbody tr.selected td:first-child{
    background-color: #350008 !important;
    color:#fff;
    
}

table tbody tr:nth-child(even) td:first-child{
    background-color: #A30018;
}



table tbody tr.selected td{
    background-color: #4C4C4C;
    color:#fff;
}

table tbody td span.glyphicon{
    display:none;
}

table tbody tr.selected td span.glyphicon{
    display:block;
    font-size: 18px;
    line-height: 36px;
}

footer.large{
    background-color: #282828;
}

footer.large .row{
    margin: 30px 0;
}

footer.large .footerLeft{
      margin-left: 37px;
      margin-top: 20px;
}

footer.large h4{
    font-family: "ManifoldCF-Regular";
    color:#fff;
    font-size: 28px;
  
    letter-spacing: 2px;
}

footer.large h4 a{
color:#fff;
}

footer.large h4 a span{
    color:#C8001E;
    
}

footer.large .button{
    display: inline;
    width: inherit;
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
}

footer.large .footerNav ul{
    margin: 0;
    padding: 0;
    list-style: none;  
    font-family: "ManifoldCF-Regular";
    margin-top: 40px;
    
      
}

footer.large .footerNav ul a{
color:#fff;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
}

footer.large .footerNav ul li{
    margin-bottom: 15px;
}

footer.large .footerNav ul a:hover{
color:#C8001E;
}

footer.large .socialNav ul{
    margin: 0;
    padding: 0;
    list-style: none;  
    font-family: "ManifoldCF-Regular";     
}

footer.large .socialNav ul li{
    float:left;
    margin-right: 12px;
}

footer.large .socialNav h5{
    font-size: 18px;
    color:#C8001E;
    font-family: "ManifoldCF-Bold"; 
    font-weight: regular;   
    letter-spacing: 1px;
    margin-top: 35px;
}

footer.large .socialNav p{
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    margin-bottom: 30px;
}

footer.large .socialNav .button{
    border:0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

footer.large .socialNav input[type="email"]{
    background-color:rgba(255, 255, 255, 0.1);
    border:0;
    border-radius: 5px;
    height: 50px;
    width: 215px;
    padding:0 10px;
    color: #fff;
    margin-right: 10px
}

footer.footerBar{
    background-color: #1B1B1B;
    height: 60px;
    line-height: 60px;
    color:#fff;
}

footer.footerBar a{
    color:#fff;
}

footer.footerBar .privacyTerms{
    padding-left: 70px;
}

footer.footerBar .copyright{
    color:#fff;
    text-align: right;
    padding-right: 70px;
}

footer.footerBar a:first-child{
    margin-right: 20px;
}

footer.footerBar a:last-child{
    margin-left: 20px;
}
