@font-face {
  font-family: 'ManifoldCF-Regular';
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-Light';
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-Bold';
  src: url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Bold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-ExtraBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-DemiBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'Industry-Inc-Stencil';
  src: url('../webfonts/Industry/IndustryInc-Stencil.eot');
  src: url('../webfonts/Industry/IndustryInc-Stencil?#iefix') format('embedded-opentype'), url('../webfonts/Industry/IndustryInc-Stencil.woff') format('woff'), url('../webfonts/Industry/IndustryInc-Stencil.ttf') format('truetype');
  /*src: url('../webfonts/Industry/Hold Fast Foundry - Industry Inc Stencil.otf');*/
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.home form{

    font-family: "ManifoldCF-Regular"; 
}

.home input[type="text"]::-webkit-input-placeholder,
.home input[type="password"]::-webkit-input-placeholder{
    color:#d0d0d0 !important;
}

.home input[type="text"]::-moz-input-placeholder,
.home input[type="password"]::-moz-input-placeholder{
    color:#d0d0d0 !important;
}

.home input[type="text"]::-ms-input-placeholder,
.home input[type="password"]::-ms-input-placeholder{
    color:#d0d0d0 !important;
}

.home form input[type="text"],
.home form input[type="password"]
{
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    color:#fff;
    
}

.home form input[type="submit"]{
    background: rgba(0, 0, 0, 0.0);
    border:solid 3px #000;
    border-radius: 5px;
    color:#fff;
    display: inline-block;
    margin:0 auto;
    margin-bottom: 20px;

    
}

.home form a{
    color:#fff;
    text-decoration: none;
}

header{
     background: url(../images/background-header.png) top center no-repeat;
  background-size:100%;

  position: relative;
background-color: #c60421;
    
  
}

.home header{
    min-height: 830px;
    background-color: #C8001E;
    padding-bottom: 30px;
}

.page header .container.banner{
    padding-top: 20px;
    padding-bottom: 50px;
}

.page header h2{

    font-family: "ManifoldCF-Regular";
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    font-size: 28px;
    text-align: right;
}

.page header .topnav{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page header .topnav li{
    float: left;
    padding-left:10px;
    padding-right:10px;
    line-height: 14px;
    
}
.page header .topnav li:first-child{
    padding-left: 0;
    border-right:solid #fff 1px;
}

.page header .topnav li:last-child{
    padding-right: 0;
    border-left:solid #fff 1px;

}
.page header .topnav a{
    color:#fff;
}

.page header .topWrapper{
    padding-top: 10px;
    padding-right: 15px;
}
.page header #logo{

  padding-top: 15px;
}

.home header #logo{
margin: 0 auto;
display: block;
  padding-top: 77px;
  max-width: 100%;
}

.home .banner p{
    color:#fff;
    text-align: center;
    font-size:18px;
    padding-top: 22px;
    padding-bottom: 45px;
    font-family: "proxima-nova";
}

.page nav{
    background: #C8001E;
    /*height: 60px;*/
}

.page nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.page nav ul li{  
    width: 33.33%;
    float: left;
    line-height: 60px;
    background-color: #310000;
    padding-left: 20px;
    padding-right: 20px;
    
}

.page nav ul li:first-child{
    background-color: #000;
}

.page nav ul li:last-child{
    background-color: #5A020F;
}
.page nav ul li a{
    font-family: "ManifoldCF-Regular";
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.page nav ul li a:link{
    color: #fff;
    text-decoration: none;
}

.page nav ul li a:visited{
    color: #fff;
    text-decoration: none;
}

.page nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}

.page nav ul li a:active{
    color: #fff;
    text-decoration: none;
}

.page header .search{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.page header .search .container .row{
    padding-top: 30px;
    padding-bottom: 30px;
}

.page header .search .vertical-divider{
    text-align:center;
    min-height: 30px;
}

.page header .search strong{
    font-family: "ManifoldCF-Regular";
    color:#fff;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
}
.page header .search label{
    display: block;
    color:#fff;
    font-weight: normal;
}

select.searchSelect,
input[type="text"].searchTextbox{
    display: block;
    width: 100%;
    -webkit-appearance: none; 
-moz-appearance: none; 
appearance: none; 
background: rgba(255, 255, 255, 0.1);
border-radius: 5px;
border:none;
height: 40px;
position: relative;
padding:0 10px;
color:#fff;
margin-bottom: 10px;
}
select.searchSelect option{
    background-color: #370008 !important;
}
.searchElement{
    position: relative;
}

.overlay-arrow{
    font-size: 17px;
color: #fff;
position: absolute;
right: 10px;
bottom: 18px;
cursor: default;
line-height: 1px;


}

section.searchCriteria{
    background: url(../images/background-search-criteria.png);
    min-height: 210px;
    padding-top: 30px;
}

section.searchCriteria ul.searchNav{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

section.searchCriteria h3{
    font-family: "ManifoldCF-Bold";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
}

section.searchCriteria ul.searchNav li{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-right:solid 1px #C8002D;
    height: 28px;
    line-height: 28px;
    text-align: middle;
    font-weight: bold;
}
section.searchCriteria ul.searchNav li:first-child{
    padding-left: 0;
}
section.searchCriteria ul.searchNav li a{
color: #333333;
}

section.searchCriteria ul.searchNav li a.active{
color: #C8002D;
}

section.searchCriteria ul.searchNav li a.disabled{
color:rgba(51, 51, 51, 0.3);
}

section.searchCriteria .searchItems{
    list-style: none;
    margin:0;
    padding: 0;
    color:#333333;
    font-size: 16px;
}
section.searchCriteria .searchItems li{
background-color: #EFEFEF;
float: left;
border-radius: 5px;
padding:5px 10px;
margin-right: 10px;
margin-bottom: 10px;
display: block;
height: 32px;
min-width: 50px;
overflow: visible;
}

section.searchCriteria .searchItems li:hover{
background-color:#C8001E;
color:#fff;
}

section.searchCriteria .searchItems li span{
color:#C8001E;
padding-right: 5px;
}

section.searchCriteria .searchItems li:hover span{
color:#222222;
}



.searchAction{
    position: relative;
}

input.button{
    border-radius: 5px;
    border:solid 3px #C8001E;
    background: transparent;
    height: 50px;
    padding: 10px;
    width:100%;
    font-family: "ManifoldCF-Bold";
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
}

input.button + span.glyphicon-search{
    color:#C8001E;
    font-size: 30px;
    position: absolute;
    top:10px;
    right:27px;
}

.savedSearchSelect{
    background: rgba(78, 78, 78, 0.9);
    border-radius: 5px;
    position: relative;
    height: 50px;
    margin-top: 20px;
}
.savedSearchSelect select{
    background: transparent;
    height: 100%;
    font-family: "ManifoldCF-Bold";
    font-size: 20px;
    text-transform: uppercase;
}
.savedSearchSelect .overlay-arrow{
    top:23px;
} 

table{
    width: 100%;
}

table thead th{
    background-color: #333; 
    color:#fff;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    padding: 0 15px;
    
}

table thead th:first-child{
    background-color: #7B0012;
    text-transform: uppercase;
    font-weight: bold;
    
}

table tbody th:nth-child(2){
    box-shadow: inset 25px 0px 9px -19px rgba(0, 0, 0, 0.5);
}

table tbody td{
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    
    
}
table tbody td:first-child{
    background-color: #B1011B;
    color:#fff;
    cursor: hand;
    cursor: pointer;
    vertical-align: text-bottom;
    
}

table tbody td:nth-child(2){
    box-shadow: inset 25px 0px 9px -19px rgba(0, 0, 0, 0.5);
}

table tbody tr td:first-child{
    background-color: #B1011B;
    color:#fff;
    
}



table tbody tr:nth-child(even) td{
    background-color: #EBEBEB;
}

table tbody tr.selected td:first-child{
    background-color: #350008 !important;
    color:#fff;
    
}

table tbody tr:nth-child(even) td:first-child{
    background-color: #A30018;
}



table tbody tr.selected td{
    background-color: #4C4C4C;
    color:#fff;
}

table tbody tr.selected td:first-child{
    
}

table tbody td span.glyphicon{
    display:none;
}

table tbody tr.selected td span.glyphicon{
    display:block;
    font-size: 18px;
}

footer.large{
    background-color: #282828;
}

footer.large img{
    max-width: 100%;
}

footer.large .row{
    margin: 30px 0;
}

footer.large .footerLeft{
      margin-left: 37px;
      margin-top: 20px;
}

footer.large h4{
    font-family: "ManifoldCF-Regular";
    color:#fff;
    font-size: 28px;
    word-break: break-word;
    letter-spacing: 2px;
}

footer.large h4 a{
color:#fff;
}

footer.large h4 a span{
    color:#C8001E;
    
}

footer.large .button{
    display: inline;
    width: inherit;
    color:#fff;
    text-align: center;
    letter-spacing: 2px;
}

footer.large .footerNav ul{
    margin: 0;
    padding: 0;
    list-style: none;  
    font-family: "ManifoldCF-Regular";
    margin-top: 40px;
    
      
}

footer.large .footerNav ul a{
color:#fff;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
}

footer.large .footerNav ul li{
    margin-bottom: 15px;
    float:left;
    margin-right: 15px;
}

footer.large .footerNav ul a:hover{
color:#C8001E;
}

footer.large .socialNav ul{
    margin: 0;
    padding: 0;
    list-style: none;  
    font-family: "ManifoldCF-Regular";     
}

footer.large .socialNav ul li{
    float:left;
    margin-right: 12px;
}

footer.large .socialNav h5{
    font-size: 18px;
    color:#C8001E;
    font-family: "ManifoldCF-Bold"; 
    font-weight: regular;   
    letter-spacing: 1px;
    margin-top: 35px;
}

footer.large .socialNav p{
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    margin-bottom: 30px;
}

footer.large .socialNav .button{
    border:0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

footer.large .socialNav input[type="email"]{
    background-color:rgba(255, 255, 255, 0.1);
    border:0;
    border-radius: 5px;
    height: 50px;
    width: 215px;
    padding:0 10px;
    color: #fff;
    margin-right: 10px
}

footer.footerBar{
    background-color: #1B1B1B;
    line-height: 60px;
    color:#fff;
}

footer.footerBar a{
    color:#fff;
}

footer.footerBar .privacyTerms{
    text-align:center;
}

footer.footerBar .copyright{
    color:#fff;
    text-align: left;
    text-align:center;
}

footer.footerBar a:first-child{
    margin-right: 20px;
}

footer.footerBar a:last-child{
    margin-left: 20px;
}

@media(min-width:768px){
    
   
    
    

}

@media(min-width:992px){

    footer.footerBar .privacyTerms{
        padding-left: 70px;
        text-align: left;
    }

    footer.footerBar .copyright{
        color:#fff;
        text-align: right;
        padding-right: 70px;
    }
}

.home nav{
    position: relative;
}
.home nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    clear:left;
    float: left;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width: 100%;

}
.home nav ul li{
    display: block;
    float: left;
    margin: 0;
    padding: 0;

    min-height: 128px;
    text-align: center;
}

.home nav ul li{
    margin-bottom: 40px;
}

.home nav ul li .homeDivider{
    position: absolute;
    top:50%;
    width:90%;
}

.home nav .homeDivider.last{
    right: 0;
}
.home nav ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: bold; 
    
    font-family: "ManifoldCF-Regular";  
}
.home nav ul li img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}

.home nav ul li:last-child img{
   float: right;
}


.page.profile header .container.banner{
    padding-top: 20px;
    padding-bottom: 0;
}

.headerProfilePic{
    display: none;
}

.backSearch{
    
    line-height: 36px;
    margin-top: 10px;
}

.backSearch a{
    color:#fff;
    font-family: "proxima-nova";
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding:0px 10px;
    line-height: 36px;
    height: 36px;
    display: inline-block;
}
.backSearch i{
    color:#C8001E;
}
.profileHeader{
   background-color: rgba(0, 0, 0, 0.7); 
   margin-bottom: 25px;
   padding-bottom: 12px;
}

.profileHeader .row{
    position: relative;
}

.profileHeader .profilePic{
    width: 75%;
    max-width: 140px;
    border-radius: 50%;
    background: url(../images/teddy.jpg) no-repeat;
    background-size: cover;
    
    filter:grayscale(100%);
    margin:0 auto;
    margin-top: 15px;
    display: block;

}

.profileName{
    font-family: "ManifoldCF-Regular";
    font-size: 20px;
    color:#C8001E;
    text-align: center;
}

.profileName h4{
    font-family: "ManifoldCF-Regular";
    font-size: 100%;
}

.profileName strong{
    color:#fff; ;
}

.statsFilter {

}
.statsFilter form{

    font-family: "ManifoldCF-Regular";
    position: relative;
    bottom:0px;
}
.statsFilter i{
    color:#C8002D;
    font-size: 26px;
}



.statsFilter .input-group-addon{
    background: transparent;
    border:0;
}

.statsFilter .overlay-arrow{
    bottom:27px;
}

.profileContent{
    margin-top: 20px;
}

.generalStats{
    list-style: none;
    margin: 0;
    padding: 0;
}

.generalStats li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: "proxima-nova";
    font-size: 18px;
    color:#333333;
    padding-right: 10px;
}

.generalStats li strong{
    color:#C8001E;
    padding-right: 10px;
}
.horizontalBarGraph{
    font-family: "ManifoldCF-ExtraBold";
    position: relative;
    
    
}
.profile h5, .profile h5 small{
    font-size: 16px;
    margin-bottom: 0;
    font-family: "ManifoldCF-ExtraBold";
}

h5.header-line{
    background: url(../images/header-line.png) center center repeat-x;
    position: relative
}

h5.header-line > div{
    background: #fff;
    padding-right:15px;
    display: inline-block;
}

h5.header-line .collapse-arrow{
    position: absolute;
    top:-4px;
    width: 25px;
    right: 0;
}

.horizontalBarGraph .percentMarker{
    border-right:solid 3px rgba(34, 34, 34, 0.5);
    position: absolute;
    height: 70px;
    color:rgba(34, 34, 34, 0.5);
    text-transform: uppercase;
    padding-right: 7px;
    display: table-cell;
    vertical-align: bottom;
}
.valign{
    position: relative;
    top:100%;
    transform: translateY(-80%);
}
.horizontalBarGraph .percentMarker.fiftyTop{
    left:50%;
    transform: translate(-100%, 0);
    
}

.horizontalBarGraph .percentMarker.ninetyTop{
    left:90%;
    transform: translate(-100%, 0);
}

.horizontalBarGraph .percentMarker.fiftyBottom{
    left:38%;
    transform: translate(-100%, 0);
    
    bottom:-20px;
}

.horizontalBarGraph .percentMarker.ninetyBottom{
    left:83%;
    transform: translate(-100%, 0);
    vertical-align: bottom;
    bottom:-20px;
}

.horizontalBarGraph ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    
}

.horizontalBarGraph li{
    height: 50px;
    width:100%;
    display: block;
}

.horizontalBarGraph li small{
    font-size: 13px;   
    font-family: "proxima-nova";
    color: rgba(34, 34, 34, 0.5);
    float: right;
    line-height: 50px;
    margin-right: 7px;
    text-transform: uppercase;
    font-weight: bold;
}

.horizontalBarGraph li span{
    
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 81px;
    text-align: center;
    font-size: 30px;
    color: rgba(34, 34, 34, 0.5);
}


.horizontalBarGraph li.barTop{
    background-color: #EFEFEF;
}
.horizontalBarGraph li.barTop div{
    width:72%;
    background: linear-gradient(to right, #C0DC2D , #46B947); 
    
}

.horizontalBarGraph li.barTop span{
    background-color: #C0DC2D;
    box-shadow: 8px 0 8px -3px rgba(0, 0, 0, 0.3);
}



.horizontalBarGraph li.barBottom{
    background-color: #DBDBDB;
}

.horizontalBarGraph li.barBottom div{
    width:80%;
    background: linear-gradient(to right, #E56737 , #C8001E); 
    
}

.horizontalBarGraph li.barBottom span{
    background-color: #E56737;
    box-shadow: 8px 0 8px -3px rgba(34, 34, 34, 0.3);
}

.statTabs{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: 10px 0 20px 0;
}

.statTabs li{
    width:33.0%;
    float:left;
    background-color: #C6C6C6;
    height: 60px;
    
    font-family: "ManifoldCF-Regular";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    border-right: solid 2px #fff;
    cursor: pointer;
    position: relative;
    padding:0 5px;
}

.statTabs li.active{
    background-color: #333333;
    color:#fff;
}

.statTabs li:nth-child(2){
width: 34%;
}

.statTabs li span{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
    width: 100%;
}

.metrics h6{
    color:#C8001E;
    font-family: "proxima-nova";
    font-size: 21px;
    font-weight: bold;
    border-bottom: solid 3px #333333;
    padding-bottom: 10px;
}

.metrics ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova";
    font-size: 15px;
    margin-bottom: 20px
}

.metrics ul li{
    padding:10px 0px;
    border-bottom:solid 1px #999999;
}
.metrics ul li small{
    color:#C8001E;
    font-weight: bold;
}
.btn-primary{
    background: #fff;
    color:#333333;
    border: solid 3px #C8001E;
    font-family: "ManifoldCF-ExtraBold";
}

.btn-primary:hover{
   background: #C8001E; 
   color:#fff;
   border: solid 3px #C8001E;
}


@media(min-width:768px){


.profileHeader{
 position: relative;
  height: 120px;
}
.profileHeader h4{
    font-size:28px;
}
.profileHeader .row{
    position: relative;
}
.profileName{
    margin-top: 65px;
    color:#C8001E;
}

.profileName strong{
    color:#fff; ;
}

.profile h5, .profile h5 small{
    font-size:30px;
}

.profile h5.header-line .collapse-arrow{
    width:50px;
    top:-10px;
}

}

@media(min-width:992px){
.headerProfilePic{
    display: block;
}

.profileHeader{
 position: relative;
  height: 160px;
}




.profileHeader .profilePic{
    max-width:75%;
    position: absolute;
}

.profileHeader h4{
    font-size:31px;
}
.profileName{
    margin-top: 95px;
}

.horizontalBarGraph h5, .horizontalBarGraph small{
    margin-bottom: -20px;;
}
}






